.carousel-slider > div { display:none; }
.carousel-slider > div:first-child { display:block; }
.carousel-slider .slick-slide {
	float:none;
	width:auto;
}

.animation { visibility:visible; }

.header-course { background-color:#d9d9d9; }

.post-format-video iframe, .post-format-audio iframe { background-color:#f4f4f4; }

.affa-client-course {
	max-width:360px;
	padding:0;
	margin-right:auto;
	margin-left:auto;
}
