<div class="row">
  <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Blogs</h3>
          <div class="pull-right box-tools">
            <?php echo Html::link('admin/blogs_agregar/',
              '<i class="fa fa-plus"></i> Agregar', array(
                'data-widget'=>"Agregar",
                'class'=>"btn btn-default btn-sm",
                'data-toggle'=>"tooltip",
                'title'=>"Agregar"
                )
              )?>
          </div><!-- /. tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th width="1%"></th>
                <th width="1%"></th>
                <th>Titulo</th>
                <th width="13%">Fecha</th>
                <th width="1%"></th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($blogs as $key => $value): ?>
                <tr>
                  <td><?php echo $value->id ?></td>
                  <td style="background-color:<?php echo $value->color ?>">
                    <img width="94px" height="94px" src="<?php echo PUBLIC_PATH.'files/upload/blogs/'.$value->imagen ?>">
                  </td>
                  <td><?php echo $value->titulo ?></td>
                  <td><?php echo (new DateTime($value->created_at))->format('d-m-Y') ?></td>
                  <td>
                    <?php echo Html::link('admin/blogs_editar/'.$value->id.'/', 'Editar') ?>
                    <?php echo Js::link(
                      'admin/blogs_eliminar/'.$value->id.'/',
                      'Eliminar',
                      '¿Está seguro de esta operación?',
                      'b_eliminar'
                      ) ?>
                  </td>
                </tr>
              <?php endforeach; ?>
        </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th>Resumen</th>
                <th>Fecha</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
  </div>
</div>
