<div class="box box-default">
  <?php echo Form::open('admin/blogs_editar/'.$blogs->id, 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
  <?php echo Form::hidden('blogs.id')?>
    <div class="box-header with-border">
      <h3 class="box-title">Blog </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-12">
          <div class="form-group">
            <img src="<?php echo PUBLIC_PATH.'files/upload/blogs/'.$blogs->imagen ?>" class="img-responsive" width="100%" style="height:300px" alt="">
          </div>
          <div class="form-group">
            <?php echo Form::text('blogs.titulo', array(
              'placeholder'=>"Titulo",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <label>Imagen 720x479 </label>
            <input accept="image/jpeg,image/x-png" name="imagen_selected" class="form-control" type="file">
          </div>
          <div class="form-group">
            <textarea class="textarea"
              required
              name="blogs[contenido]"
              placeholder="contenido del blog"
              style="width: 100%; height: 400px; font-size: 14px;
              line-height: 18px; border: 1px solid #dddddd; padding: 10px;"><?php echo $blogs->contenido ?></textarea>
          </div>

        </div>
      </div>
  </div>
  <?php echo Form::close(); ?>
</div>
