<div class="box box-default">
  <?php echo Form::open('admin/clientes_editar/'.$clientes->id.'/', 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
  <?php echo Form::hidden('clientes.id')?>
    <div class="box-header with-border">
      <h3 class="box-title">Cliente </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-6">
          <div class="form-group" style="text-align:center;">
            <img width="136px" height="69px" src="<?php echo PUBLIC_PATH.'files/upload/clientes/'.$clientes->imagen ?>" alt="">
          </div>
          <div class="form-group">
            <?php echo Form::text('clientes.titulo', array(
              'placeholder'=>"Titulo",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <?php echo Form::input('url', 'clientes.link', array(
              'placeholder'=>"Link",
              'required'=>'true',
              'class'=>"form-control"
            ))?>
          </div>
          <div class="form-group">
            <label>Imagen 138x69</label>
            <input accept="image/jpeg,image/x-png" name="imagen_selected" class="form-control" type="file">
          </div>
        </div>
      </div>
      <?php echo Html::link('admin/clientes/', '<i class="fa fa-fw fa-mail-reply-all"></i> Regresar al listado', array(
        'data-widget'=>"Regresar",
        'class'=>" btn-sm",
        'data-toggle'=>"tooltip",
        'title'=>"Regresar al listado"
      )) ?>
  </div>
  <?php echo Form::close(); ?>
</div>
