<div class="box box-default">
  <?php echo Form::open('admin/contacto', 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
  <?php echo Form::hidden('contacto.id')?>
    <div class="box-header with-border">
      <h3 class="box-title">Contacto </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row">
        <div class="col-md-6" >
          <div class="form-group">
            <label for="">whatsapp</label>
            <?php echo Form::text('contacto.whatsapp', array(
              'required'=>'true',
              'placeholder'=>'whatsapp',
              'class'=>'form-control'
            )) ?>
          </div>
          <div class="form-group">
            <label for="">Telefono</label>
            <?php echo Form::text('contacto.telefono', array(
              'required'=>'true',
              'placeholder'=>'Telefono',
              'class'=>'form-control'
            )) ?>
          </div>
          <div class="form-group">
            <label for="">Correo</label>
            <?php echo Form::text('contacto.correo', array(
              'required'=>'true',
              'placeholder'=>'Correo',
              'class'=>'form-control'
            )) ?>
          </div>
          <div class="form-group">
            <label for="">Ubicación</label>
            <?php echo Form::text('contacto.ubicacion', array(
              'required'=>'true',
              'placeholder'=>'ubicacion',
              'class'=>'form-control'
            )) ?>
          </div>
        </div>
        <div class="col-md-6" >
          <div class="form-group">
            <label for="">Facebook</label>
            <?php echo Form::text('contacto.facebook', array(
              'required'=>'true',
              'placeholder'=>'facebook',
              'class'=>'form-control'
            )) ?>
          </div>
          <div class="form-group">
            <label for="">Instagram</label>
            <?php echo Form::text('contacto.instagram', array(
              'required'=>'true',
              'placeholder'=>'Instagram',
              'class'=>'form-control'
            )) ?>
          </div>
          <div class="form-group">
            <label for="">Skype</label>
            <?php echo Form::text('contacto.skype', array(
              'required'=>'true',
              'placeholder'=>'Skype',
              'class'=>'form-control'
            )) ?>
          </div>
          <div class="form-group">
            <label for="">Horario</label>
            <?php echo Form::text('contacto.horario', array(
              'required'=>'true',
              'placeholder'=>'Horario',
              'class'=>'form-control'
            )) ?>
          </div>
        </div>
      </div>
  </div>
  <?php echo Form::close(); ?>
</div>
