<div class="box box-default">
  <?php echo Form::open('admin/links_footer_agregar', 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
    <div class="box-header with-border">
      <h3 class="box-title">Links </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-6">
          <div class="form-group">
            <?php echo Form::text('links_footer.texto', array(
              'placeholder'=>"Texto a mostrar",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <?php echo Form::input('text', 'links_footer.link', array(
              'placeholder'=>"Link",
              'required'=>'true',
              'class'=>"form-control"
            ))?>
          </div>
          <div class="form-group">
            <select class="form-control" name="links_footer[tipo]" required="">
              <option value="">Ubicación en el footer</option>
              <option <?php if($links_footer->tipo == 'QUIERES UN WEB') echo 'selected' ?> value="QUIERES UN WEB">QUIERES UN WEB</option>
              <option <?php if($links_footer->tipo == 'SERVICIOS') echo 'selected' ?> value="SERVICIOS">SERVICIOS</option>
              <option <?php if($links_footer->tipo == 'OTROS') echo 'selected' ?> value="OTROS">OTROS</option>
            </select>
          </div>

        </div>
      </div>
      <?php echo Html::link('admin/links_footer/', '<i class="fa fa-fw fa-mail-reply-all"></i> Regresar al listado', array(
        'data-widget'=>"Regresar",
        'class'=>" btn-sm",
        'data-toggle'=>"tooltip",
        'title'=>"Regresar al listado"
      )) ?>
  </div>
  <?php echo Form::close(); ?>
</div>
