<div class="row">
  <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Links del footer</h3>
          <div class="pull-right box-tools">
            <?php echo Html::link('admin/links_footer_agregar/', '<i class="fa fa-plus"></i> Agregar', array(
              'data-widget'=>"Agregar",
              'class'=>"btn btn-default btn-sm",
              'data-toggle'=>"tooltip",
              'title'=>"Agregar"
            ))?>
          </div><!-- /. tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th width="1%"></th>
                <th>Link</th>
                <th>Texto</th>
                <th>Tipo</th>
                <th width="1%"></th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($links_footer as $key => $value): ?>
                <tr>
                  <td><?php echo $value->id ?></td>
                  <td><?php echo '<a href="'.$value->link.'">'.$value->link.'</a>' ?></td>
                  <td><?php echo $value->texto ?></td>
                  <td><?php echo $value->tipo ?></td>
                  <td>
                    <?php echo Html::link('admin/links_footer_editar/'.$value->id.'/', 'Editar') ?>
                    <?php echo Js::link(
                      'admin/links_footer_eliminar/'.$value->id.'/',
                      'Eliminar',
                      '¿Está seguro de esta operación?',
                      'b_eliminar'
                      ) ?>
                  </td>
                </tr>
              <?php endforeach; ?>
        </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th>Link</th>
                <th>Texto</th>
                <th>Tipo</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
  </div>
</div>
