<div class="box box-default">
  <?php echo Form::open('admin/necesitas_app', 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
  <?php echo Form::hidden('necesitas_app.id')?>
    <div class="box-header with-border">
      <h3 class="box-title">Sección necesidad una APP? </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <?php if ($necesitas_app): ?>
              <img
              class="img-responsive"
              style="height:100%;width:100%;"
              src="<?php echo PUBLIC_PATH.'files/upload/necesitas_app/'.$necesitas_app->imagen ?>"
              alt="Necesitas un app">
            <?php endif ?>
          </div>
          <div class="form-group">
            <label>Cambiar Imagen 628x285</label>
            <input accept="image/jpeg,image/x-png,image/gif" name="imagen_selected" class="form-control" type="file">
          </div>
        </div>
        <div class="col-md-6" >
          <div class="form-group">
            <label for="">Subtitulo</label>
            <?php echo Form::text('necesitas_app.subtitulo', array(
              'required'=>'true',
              'placeholder'=>'Sub titulo',
              'class'=>'form-control'
            )) ?>
          </div>
          <div class="form-group">
            <label for="">Link boton</label>
            <?php echo Form::text('necesitas_app.link', array(
              'required'=>'true',
              'placeholder'=>'link boton',
              'class'=>'form-control'
            )) ?>
          </div>
          <div class="form-group">
            <label for="">Texto del boton</label>
            <?php echo Form::text('necesitas_app.texto_boton', array(
              'required'=>'true',
              'placeholder'=>'Texto boton',
              'class'=>'form-control'
            )) ?>
          </div>
        </div>
      </div>
  </div>
  <?php echo Form::close(); ?>
</div>
