<div class="box box-default">
  <?php echo Form::open('admin/necesitas', 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
  <?php echo Form::hidden('necesitas.id')?>
    <div class="box-header with-border">
      <h3 class="box-title">Sección necesitas </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Titulo</label>
            <?php echo Form::text('necesitas.titulo', array(
              'required'=>'true',
              'placeholder'=>'titulo',
              'class'=>'form-control'
            )) ?>
          </div>
          <div class="form-group">
            <label for="">Sub Titulo</label>
            <?php echo Form::text('necesitas.sub_titulo', array(
              'required'=>'true',
              'placeholder'=>'Sub titulo',
              'class'=>'form-control'
            )) ?>
          </div>
          <div class="form-group">
            <label for="">Texto del boton</label>
            <?php echo Form::text('necesitas.texto_boton', array(
              'required'=>'true',
              'placeholder'=>'Texto del boton',
              'class'=>'form-control'
            )) ?>
          </div>
          <div class="form-group">
            <label>Cambiar Imagen (recomendado 1890x744)</label>
            <input accept="image/jpeg,image/x-png,image/gif" name="imagen_selected" class="form-control" type="file">
          </div>
        </div>
        <div class="col-md-8">
          <?php if ($necesitas): ?>
            <img
            class="img-responsive"
            style="height:100%;width:100%;"
            src="<?php echo PUBLIC_PATH.'files/upload/necesitas/'.$necesitas->imagen ?>"
            alt="Quienes somos">
          <?php endif ?>
        </div>
      </div>
  </div>
  <?php echo Form::close(); ?>
</div>
