<div class="box box-default">
  <?php echo Form::open('admin/portafolio_editar/'.$portafolio->id."/", 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
  <?php echo Form::hidden('portafolio.id')?>
    <div class="box-header with-border">
      <h3 class="box-title">Cliente de portafolio </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-6">
          <div class="form-group">
            <?php echo Form::text('portafolio.titulo', array(
              'placeholder'=>"Titulo",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <?php echo Form::text('portafolio.link', array(
              'placeholder'=>"Link (Opcional)",
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <?php echo Form::text('portafolio.trabajo_realizado', array(
              'placeholder'=>"Trabajo realizado",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <label>Imagen 370x230 </label>
            <input accept="image/jpeg,image/x-png" name="imagen_selected" class="form-control" type="file">
          </div>
        </div>
      </div>
  </div>
  <?php echo Form::close(); ?>
</div>
