<div class="box box-default">
  <?php echo Form::open('admin/quienes_somos', 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
  <?php echo Form::hidden('quienes_somos.id')?>
    <div class="box-header with-border">
      <h3 class="box-title">Sección quienes somos </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row">
        <div class="col-md-4">
          <?php if ($quienes_somos): ?>
            <img
            class="img-responsive"
            style="height:100%;width:100%;"
            src="<?php echo PUBLIC_PATH.'files/upload/quienes_somos/'.$quienes_somos->imagen ?>"
            alt="Quienes somos">
          <?php endif ?>
          <br>
          <br>
          <label>Cambiar Imagen 629x389</label>
          <input accept="image/jpeg,image/x-png,image/gif" name="imagen_selected" class="form-control" type="file">
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <textarea class="textarea"
              required
              name="quienes_somos[contenido]"
              placeholder="Detalles de la sección"
              style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"><?php echo $quienes_somos->contenido ?></textarea>
          </div>
        </div>
      </div>
  </div>
  <?php echo Form::close(); ?>
</div>
