<div class="box box-default">
  <?php echo Form::open('admin/quieres_web', 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
  <?php echo Form::hidden('quieres_web.id')?>
    <div class="box-header with-border">
      <h3 class="box-title">Sección quieres una web </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-6">
          <div class="form-group">
            <label for=""></label>
            <?php echo Form::textarea('quieres_web.titulo', array(
              'required'=>'true',
              'rows'=>'5',
              'placeholder'=>'Subtitulo',
              'class'=>'form-control'
            )) ?>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <div class="row">
              <div class="col-md-8">
                <?php echo Form::text('quieres_web.titulo1', array(
                  'required'=>'true',
                  'placeholder'=>'Titulo',
                  'class'=>'form-control'
                )) ?>
                <br>
                <?php echo Form::textarea('quieres_web.subtitulo1', array(
                  'required'=>'true',
                  'placeholder'=>'Subtitulo',
                  'class'=>'form-control'
                )) ?>
              </div>
              <div class="responsive-img col-md-4" >
                <img width="50px" src="<?php echo PUBLIC_PATH ?>img/landing.png" alt="" width="100%" style="margin-bottom:20px;float:right;">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-8">
                <?php echo Form::text('quieres_web.titulo2', array(
                  'required'=>'true',
                  'placeholder'=>'Titulo',
                  'class'=>'form-control'
                )) ?>
                <br>
                <?php echo Form::textarea('quieres_web.subtitulo2', array(
                  'required'=>'true',
                  'placeholder'=>'Subtitulo',
                  'class'=>'form-control'
                )) ?>
              </div>
              <div class="responsive-img col-md-4">
                <img width="50px" src="<?php echo PUBLIC_PATH ?>img/microwebs.png" alt="" width="100%" style="margin-bottom:20px;float:right;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2" style="display:flex;justify-content: center;">
          <div class="responsive-img">
              <img src="<?php echo PUBLIC_PATH ?>img/webdesign.png" alt="" width="150px" style="margin-bottom:20px;margin-top:50px;">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <div class="row">
              <div class="responsive-img col-md-4">
                <img width="50px" src="<?php echo PUBLIC_PATH ?>img/ecommerce.png" alt="" width="100%" style="margin-bottom:20px">
              </div>
              <div class="col-md-8">
                <?php echo Form::text('quieres_web.titulo3', array(
                  'required'=>'true',
                  'placeholder'=>'Titulo',
                  'class'=>'form-control'
                )) ?>
                <br>
                <?php echo Form::textarea('quieres_web.subtitulo3', array(
                  'required'=>'true',
                  'placeholder'=>'Subtitulo',
                  'class'=>'form-control'
                )) ?>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="responsive-img col-md-4">
                <img width="50px" src="<?php echo PUBLIC_PATH ?>img/alamedida.png" alt="" width="100%" style="margin-bottom:20px">
              </div>
              <div class="col-md-8">
                <?php echo Form::text('quieres_web.titulo4', array(
                  'required'=>'true',
                  'placeholder'=>'Titulo',
                  'class'=>'form-control'
                )) ?>
                <br>
                <?php echo Form::textarea('quieres_web.subtitulo4', array(
                  'required'=>'true',
                  'placeholder'=>'Subtitulo',
                  'class'=>'form-control'
                )) ?>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <?php echo Form::close(); ?>
</div>
