<div class="box box-default">
  <?php echo Form::open('admin/servicios_editar/'.$servicios->id.'/', 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
  <?php echo Form::hidden('servicios.id')?>
    <div class="box-header with-border">
      <h3 class="box-title">Servicio </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-6">
          <div class="form-group" style="display: flex;justify-content: center;">
              <img width="419px" height="237px" src="<?php echo PUBLIC_PATH.'files/upload/servicios/'.$servicios->imagen ?>" alt="">
          </div>
          <div class="form-group">
            <?php echo Form::text('servicios.titulo', array(
              'placeholder'=>"Titulo",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <?php echo Form::text('servicios.resumen', array(
              'placeholder'=>"Resumen",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <div class="input-group my-colorpicker2">
              <?php echo Form::text('servicios.color', array(
                'placeholder'=>"Color",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
              <div class="input-group-addon">
                <i></i>
              </div>
            </div><!-- /.input group -->
          </div><!-- /.form group -->
          <div class="form-group">
            <label>Imagen 419x237</label>
            <input accept="image/jpeg,image/x-png" name="imagen_selected" class="form-control" type="file">
          </div>
        </div>
      </div>
      <?php echo Html::link('admin/servicios/', '<i class="fa fa-fw fa-mail-reply-all"></i> Regresar al listado', array(
        'data-widget'=>"Regresar",
        'class'=>" btn-sm",
        'data-toggle'=>"tooltip",
        'title'=>"Regresar al listado"
      )) ?>
  </div>
  <?php echo Form::close(); ?>
</div>
