<div class="box box-default">
  <?php echo Form::open('admin/sliders_agregar', 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
  <?php echo Form::hidden('sliders.id')?>
    <div class="box-header with-border">
      <h3 class="box-title">Slider </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-8">
          <div class="form-group">
            <?php echo Form::text('sliders.titulo', array(
              'placeholder'=>"Titulo",
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <?php echo Form::text('sliders.subtitulo', array(
              'placeholder'=>"Subtitulo",
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <?php echo Form::textarea('sliders.resumen', array(
              'placeholder'=>"Resumen",
              'rows'=>'5',
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
          <div class="input-group my-colorpicker2">
            <?php echo Form::text('sliders.texto_color', array(
              'placeholder'=>"Color",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
            <div class="input-group-addon">
              <i></i>
            </div>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
        <div class="form-group">
          <label>Imagen 1900x800</label>
          <input required accept="image/jpeg,image/x-png,image/gif" name="imagen_selected" class="form-control" type="file">
        </div>
        </div>
      </div>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Texto boton 1</label>
            <?php echo Form::text('sliders.boton1', array(
              'placeholder'=>"Texto boton 1",
              'rows'=>'5',
              'class'=>"form-control"
            )) ?>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Link boton 1</label>
            <?php echo Form::text('sliders.link1', array(
              'placeholder'=>"link boton 1",
              'rows'=>'5',
              'class'=>"form-control"
            )) ?>
          </div>
        </div>
      </div>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Texto boton 2</label>
            <?php echo Form::text('sliders.boton2', array(
              'placeholder'=>"Texto boton 2",
              'class'=>"form-control"
            )) ?>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Link boton 2</label>
            <?php echo Form::text('sliders.link2', array(
              'placeholder'=>"link boton 2",
              'class'=>"form-control"
            )) ?>
          </div>
        </div>
      </div>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Texto boton 3</label>
            <?php echo Form::text('sliders.boton3', array(
              'placeholder'=>"Texto boton 3",
              'class'=>"form-control"
            )) ?>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Link boton 3</label>
            <?php echo Form::text('sliders.link3', array(
              'placeholder'=>"link boton 3",
              'class'=>"form-control"
            )) ?>
          </div>
        </div>
      </div>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Texto boton 4</label>
            <?php echo Form::text('sliders.boton4', array(
              'placeholder'=>"Texto boton 4",
              'class'=>"form-control"
            )) ?>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Link boton 4</label>
            <?php echo Form::text('sliders.link4', array(
              'placeholder'=>"link boton 4",
              'class'=>"form-control"
            )) ?>
          </div>
        </div>
      </div>
      <div class="row" style="display:flex;justify-content:center;">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Texto boton 5</label>
            <?php echo Form::text('sliders.boton5', array(
              'placeholder'=>"Texto boton 5",
              'class'=>"form-control"
            )) ?>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Link boton 5</label>
            <?php echo Form::text('sliders.link5', array(
              'placeholder'=>"link boton 5",
              'class'=>"form-control"
            )) ?>
          </div>
        </div>
      </div>
  </div>
  <?php echo Form::close(); ?>
</div>
