<div class="box box-default">
  <?php echo Form::open('admin/testimonios_editar/'.$testimonios->id.'/', 'POST', array(
    'enctype'=> 'multipart/form-data'
  )); ?>
  <?php echo Form::hidden('testimonios.id')?>
    <div class="box-header with-border">
      <h3 class="box-title">Testimonio </h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button class="btn btn-default btn-sm"
          data-widget="Guardar" data-toggle="tooltip" title="Guardar">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body pad">
      <?php echo View::content(); ?>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group" style="display: flex;justify-content: center;">
              <img width="94px" height="94px" src="<?php echo PUBLIC_PATH.'files/upload/testimonios/'.$testimonios->imagen ?>" alt="">
          </div>
          <div class="form-group">
            <?php echo Form::text('testimonios.trabajo_realizado', array(
              'placeholder'=>"Trabajo realizado",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <?php echo Form::text('testimonios.firma', array(
              'placeholder'=>"Firma",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <input accept="image/jpeg,image/x-png" name="imagen_selected" class="form-control" type="file">
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <?php echo Form::textarea('testimonios.contenido', array(
              'placeholder'=>"Contenido",
              'class'=>"textarea",
              'required'=>'true',
              'style'=>"width: 100%; height: 200px;
                    font-size: 14px;line-height: 18px;
                    border: 1px solid #dddddd;
                    padding: 10px;"
            )) ?>
          </div>
        </div>
      </div>
      <?php echo Html::link('admin/testimonios/', '<i class="fa fa-fw fa-mail-reply-all"></i> Regresar al listado', array(
        'data-widget'=>"Regresar",
        'class'=>" btn-sm",
        'data-toggle'=>"tooltip",
        'title'=>"Regresar al listado"
      )) ?>
  </div>
  <?php echo Form::close(); ?>
</div>
