<section class="body-content " style="border-top:1px solid #eee">

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                  <div class="blog-classic">
                     <div class="blog-post">
                         <div class="full-width">
                             <img src="<?php echo PUBLIC_PATH.'files/upload/blogs/'.$blog->imagen ?>" alt="" />
                         </div>
                         <h4 class="text-uppercase"><a href="#"><?php echo $blog->titulo ?></a></h4>
                         <?php echo $blog->contenido ?>
                     </div>
                 </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <div class="heading-title-alt text-left heading-border-bottom">
                            <h6 class="text-uppercase">Noticias Recientes</h6>
                        </div>
                        <ul class="widget-latest-post">
                          <?php foreach ($blogsList as $key => $value): ?>
                            <li>
                              <div class="thumb">
                                <a href="#">
                                  <img src="<?php echo PUBLIC_PATH.'files/upload/blogs/'.$value->imagen ?>" alt="" />
                                </a>
                              </div>
                              <div class="w-desk">
                                <a href="detalle_blog.php?id=1"><?php echo $value->titulo ?></a>
                                <?php echo (new DateTime($value->created_at))->format('d-m-Y') ?>
                              </div>
                            </li>
                          <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
