<!--slider-->
  <section class="slider-revolution-wrapper">
      <div class="tp-banner-container">
          <div class="tp-banner">
              <ul>
                <!-- slide 1 start -->
                <?php foreach ($sliders as $key => $value): ?>
                  <li class="" data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Nosotros">
                      <!--1920 x 600-->
                      <img src="<?php echo PUBLIC_PATH.'files/upload/sliders/'.$value->imagen ?>" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                      <!-- LAYER NR. 1 -->
                      <?php if($value->resumen){?>
                        <?php if($value->titulo):?>
                          <div class="tp-caption customin customout rev-heading"
                          data-x="0" data-y="150" data-speed="500" data-start="1900"
                          data-easing="Back.easeOut"
                          data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;
                          scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;
                          scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;
                          transformOrigin:50% 0%;" data-splitin="" data-splitout="" data-elementdelay="0.1"
                          data-endelementdelay="0.1"
                          style="padding:10px; color:<?php echo $value->color_texto?>"><?php if($value->titulo) echo $value->titulo ?></div>
                        <?php endif ?>

                          <?php if($value->subtitulo):?>
                          <div class="tp-caption rev-subheading lft start" data-x="0" data-y="190"
                          data-speed="500" data-start="1900" data-easing="Back.easeOut" data-splitin=""
                          data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1"
                          style="padding:10px;color:<?php echo $value->color_texto?>"
                          ><?php if($value->subtitulo) echo $value->subtitulo ?></div>
                        <?php endif ?>
                    <?php }else{?>

                        <?php if($value->titulo):?>
                          <div class="tp-caption customin customout rev-heading" data-x="0" data-y="250"
                          data-speed="500" data-start="1900" data-easing="Back.easeOut"
                          data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;
                          scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;
                          scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;
                          transformOrigin:50% 0%;" data-splitin="" data-splitout=""
                          data-elementdelay="0.1" data-endelementdelay="0.1"
                          style="padding:10px;color:<?php echo $value->color_texto?>"
                          ><?php if($value->titulo) echo $value->titulo ?> </div>
                        <?php endif ?>
                        <?php if($value->subtitulo):?>
                          <div class="tp-caption rev-subheading lft start" data-x="0" data-y="180"
                          data-speed="500" data-start="1900" data-easing="Back.easeOut"
                          data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1"
                          style="padding:10px;color:<?php echo $value->color_texto?>"
                          ><?php if($value->subtitulo) echo $value->subtitulo ?></div>
                        <?php endif ?>
                      <?php }?>


                      <?php $position_x = 0; if($value->resumen):?>
                      <!-- LAYER NR. 1 -->
                      <div class="tp-caption rev-desc fade" data-x="0" data-y="270" data-speed="500"
                      data-start="2700" data-easing="Back.easeOut" data-splitin="" data-splitout=""
                      data-elementdelay="0.1" data-endelementdelay="0.1"
                      style="padding:10px;color:<?php echo $value->color_texto?>">
                        <?php
                        if($value->resumen) echo $value->resumen ?>
                      </div>
                    <?php endif ?>

                        <!-- LAYER NR. 3 -->
                        <?php if($value->boton1):?>
                          <div class="tp-caption rev-subheading sfl"
                          data-x="0" data-y="380" data-speed="500" data-start="3000"
                          data-easing="Back.easeOut" data-splitin="" data-splitout=""
                          data-elementdelay="0.1" data-endelementdelay="0.1">
                          <a href="<?php echo $value->link1?>" class="btn btn-medium btn-dark-border"
                            style="font-size:0.6em;border-color:<?php echo $value->color_texto?>;"><?php echo $value->boton1?></a>
                          </div>
                        <?php endif ?>

                        <?php if($value->boton2):?>
                          <?php $position_x = $position_x + 62.5 + (strlen($value->boton1) * 8.9) ?>
                          <div
                          class="tp-caption rev-subheading sfr"
                          data-x="<?php echo $position_x ?>" data-y="380" data-speed="500" data-start="3200"
                          data-easing="Back.easeOut" data-splitin="" data-splitout=""
                          data-elementdelay="0.1" data-endelementdelay="0.1">
                          <a href="<?php echo $value->link2?>" class="btn btn-medium btn-dark-solid"
                            style="font-size:0.6em;border-color:<?php echo $value->color_texto?>;"><?php echo $value->boton2?></a>
                          </div>
                        <?php endif ?>

                        <?php if($value->boton3):?>
                          <?php $position_x = $position_x + 62.5 + (strlen($value->boton2) * 9.1) ?>
                          <div class="tp-caption rev-subheading sfl"
                          data-x="<?php echo $position_x ?>" data-y="380" data-speed="500" data-start="3000"
                          data-easing="Back.easeOut" data-splitin="" data-splitout=""
                          data-elementdelay="0.1" data-endelementdelay="0.1">
                          <a href="<?php echo $value->link3?>" class="btn btn-medium btn-dark-border"
                            style="font-size:0.6em;border-color:<?php echo $value->color_texto?>;"><?php echo $value->boton3?></a>
                          </div>
                        <?php endif ?>
                        <?php if($value->boton4):?>
                          <?php $position_x = $position_x + 62.5 + (strlen($value->boton3) * 9.36) ?>
                          <div
                          class="tp-caption rev-subheading sfr"
                          data-x="<?php echo $position_x ?>" data-y="380" data-speed="500" data-start="3200"
                          data-easing="Back.easeOut" data-splitin="" data-splitout=""
                          data-elementdelay="0.1" data-endelementdelay="0.1">
                          <a href="<?php echo $value->link4?>" class="btn btn-medium btn-dark-solid"
                            style="font-size:0.6em;border-color:<?php echo $value->color_texto?>;"><?php echo $value->boton4?></a>
                          </div>
                        <?php endif ?>
                        <?php if($value->boton5):?>
                          <?php $position_x = $position_x + 62.5 + (strlen($value->boton4) * 9.36) ?>
                          <div class="tp-caption rev-subheading sfl"
                          data-x="<?php echo $position_x ?>" data-y="380" data-speed="500" data-start="3000"
                          data-easing="Back.easeOut" data-splitin="" data-splitout=""
                          data-elementdelay="0.1" data-endelementdelay="0.1">
                          <a href="<?php echo $value->link5?>" class="btn btn-medium btn-dark-border"
                            style="font-size:0.6em;border-color:<?php echo $value->color_texto?>;"><?php echo $value->boton5?></a>
                          </div>
                        <?php endif ?>
                  </li>
                <?php endforeach; ?>
              </ul>
              <div class="tp-bannertimer"></div>
          </div>
      </div>
  </section>

  <!--nosotros-->

          <div id="nosotros" class="container" style="padding:0;margin:0;width:100%;background:#1C272E">
              <div class="row" style="padding:0;margin:0">
                  <div class="col-md-12" style="padding:0;margin:0;">
                      <div class="col-md-6" style="padding:0;margin:0;">
                          <img src="<?php echo PUBLIC_PATH.'files/upload/quienes_somos/'.$quienes_somos->imagen ?>" alt="" width="100%" style="padding:0;margin:0;">
                      </div>
                      <div class="col-md-6" style="padding:0;margin:0;">
                       <div class="heading-title text-center">
                          <h3 class="text-uppercase"
                          style="color:#fff;padding:30px;border-bottom:2px solid #8CB51B;margin-bottom:30px;font-weight:600">QUE SOMOS</h3>
                          <div class="col-md-1">
                          </div>
                          <div class="col-md-11">
                           <p class="light-txt"
                           style="text-align:justify;padding:10px;margin-bottom:10px">
                             <?php echo $quienes_somos->contenido ?>
                          </p>
                           <div style="text-align:right"><img src="img/jean.png" alt="" style="width:80px;border-radius:50%;margin-right:10px;"><p style="float:right;text-align:left">Jean Carlos Maza <br>CEO</p></div>
                           </div>
                            <div class="col-md-1">
                          </div>
                      </div>

                      </div>
                  </div>
              </div>
          </div>

  <!--fin nosotros-->


  <!--web-->

   <section class="body-content">

      <!--feature-->
      <div class="page-content" id="web">
          <div class="container">
              <div class="row ">

                  <div class="heading-title text-center">
                      <h3 class="text-uppercase" style="font-weight:600"> Quieres una web <br><small>¿ Que podemos hacer por ti?</small> </h3>
                      <p class="half-txt p-top-30">
                        <?php echo $quieres_web->titulo ?>
                      </p>
                  </div>

                   <div class="col-md-4 text-right">
                     <div class="featured-item feature-outline right m-bot-40">
                              <div class="icon">
                                  <a href="#contacto"><img src="img/landing.png" alt="" width="90px" style=""></a>
                              </div>
                              <div class="title text-uppercase" style="margin-right:30px">
                                  <h4 style="text-transform:none;font-weight:600"><?php echo $quieres_web->titulo1 ?></h4>
                              </div>
                              <div class="desc" style="margin-right:30px;font-size:13px">
                                <?php echo $quieres_web->subtitulo1 ?>
                              </div>
                          </div>
                          <div class="featured-item feature-outline right ">
                              <div class="icon">
                                  <a href="#contacto"><img src="img/microwebs.png" alt="" width="90px" style=""></a>
                              </div>
                              <div class="title text-uppercase" style="margin-right:30px">
                                  <h4 style="text-transform:none;font-weight:600"><?php echo $quieres_web->titulo2 ?> </h4>
                              </div>
                              <div class="desc" style="margin-right:30px;font-size:13px">
                                  <?php echo $quieres_web->subtitulo2 ?>
                              </div>
                          </div>
                  </div>
                  <div class="col-md-4">
                      <div class="responsive-img">
                              <img src="img/webdesign.png" alt="" width="100%" style="margin-bottom:20px" />
                          </div>
                  </div>
                  <div class="col-md-4">
                      <div class="featured-item feature-outline m-bot-40">
                              <div class="icon">
                                  <a href="#contacto"><img src="img/ecommerce.png" alt="" width="90px" style=""></a>
                              </div>
                              <div class="title text-uppercase" style="margin-left:30px">
                                  <h4 style="text-transform:none;font-weight:600"><?php echo $quieres_web->titulo3 ?></h4>
                              </div>
                              <div class="desc" style="margin-left:30px;font-size:13px">
                                  <?php echo $quieres_web->subtitulo3 ?>
                              </div>
                          </div>
                          <div class="featured-item feature-outline  ">
                              <div class="icon">
                                  <a href="#contacto"><img src="img/alamedida.png" alt="" width="90px" style=""></a>
                              </div>
                              <div class="title text-uppercase" style="margin-left:30px">
                                  <h4 style="text-transform:none;font-weight:600"><?php echo $quieres_web->titulo4 ?></h4>
                              </div>
                              <div class="desc" style="margin-left:30px;font-size:13px">
                                  <?php echo $quieres_web->subtitulo4 ?>
                              </div>
                          </div>
                  </div>
              </div>
          </div>
      </div>



   <!--app-->

          <div class="container" style="padding:0;margin:0;width:100%;background:#0A5676">
              <div class="row" style="padding:0;margin:0">
                  <div class="col-md-12" style="padding:0;margin:0;">
                      <div class="col-md-6" style="padding:0;margin:0;">

                        <?php if($necesitas_app){ ?>
                          <img width="628px" height="285px" src="<?php echo PUBLIC_PATH.'files/upload/necesitas_app/'.$necesitas_app->imagen ?>" alt="" width="100%" style="padding:0;margin:0;">
                        <?php }else{ ?>
                          <img width="628px" height="285px" src="img/app.png" alt="" width="100%" style="padding:0;margin:0;">
                        <?php }?>
                      </div>
                      <div class="col-md-6" style="padding:0;margin:0;">
                       <div class="heading-title text-left" style="margin-bottom:10px">
                          <h1 style="color:#fff;padding:30px;font-weight:600;text-transform:none;padding-bottom:10px;padding-top:50px;color:#E6E6E6">Necesidad una APP?</h1>
                           <h3 class="light-txt" style="text-align:left;padding:30px;padding-top:10px"><?php echo $necesitas_app->subtitulo ?></h3>
                          <a href="<?php echo $necesitas_app->link ?>" class="btn btn-medium  btn-theme-color light-hover" style="margin-left:30px;margin-bottom:0"> <?php echo $necesitas_app->texto_boton ?></a>
                      </div>

                      </div>
                  </div>
              </div>
          </div>

  <!--fin app-->
  <!--servicios-->

      <div id="servicios" class="page-content" style="padding:40px;margin:0;background:#9933CC;">
          <div class="container">
              <div class="row" style="margin:0;padding:0">

                  <div class="heading-title text-center" style="margin:0;padding:0">
                      <h3 class="text-uppercase" style="font-weight:600;color:#fff"> Servicios </h3>
                  </div>
              </div>
          </div>
      </div>

      <div class="portfolio portfolio-masonry col-3" style="padding:0;margin:0;background:#1A1A1A">
          <?php foreach ($servicios as $key => $value): ?>
                <div class="portfolio-item">
                  <div class="thumb">
                      <img width="419px" height="237px" src="<?php echo PUBLIC_PATH.'files/upload/servicios/'.$value->imagen ?>" alt="">
                      <div class="portfolio-hover">
                          <div class="action-btn">
                              <a href="#contacto" title="<?php echo $value->titulo ?>"> <i class="icon-basic_magnifier"></i>
                              </a>
                          </div>
                          <div class="portfolio-description">
                              <h4><a href="#contacto" title="<?php echo $value->titulo ?>"><?php echo $value->titulo ?></a></h4>
                              <p><a href="#">Ver detalle</a>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div style="background:<?php echo $value->color ?>;color:#fff;padding:20px;padding-top:10px;padding-bottom:10px">
                      <b style="font-weight:600;font-size:16px"><?php echo $value->titulo ?></b> <br>
                      <?php echo $value->resumen ?>
                  </div>
              </div>
              <?php endforeach; ?>
          </div>

          <!--portfolio-->


      <!--vallas publicitarias-->

      <div class="parallax-inner parallax-15" style="margin-top:0;<?php echo 'background-image:url('.PUBLIC_PATH.'files/upload/necesitas/'.$necesitas->imagen.') !important;' ?>">
          <div class="container ">
              <div class="row">
                  <div class="heading-title-alt text-center m-bot-0 inline-block">

                      <h1 class="light-txt" style="font-weight:600">Necesitas</h1> <h3 style="color:#fff;font-weight:600"><?php echo $necesitas->titulo ?></h3>
                      <h3 class="text-uppercase" style="color:#F8C12A"><?php echo $necesitas->sub_titulo ?></h3>
                      <div class="m-top-50 inline-block">
                          <a href="#contacto" class="btn btn-medium  btn-theme-color light-hover" style="background:#008FC5"> <?php echo $necesitas->texto_boton ?></a>
                      </div>
                  </div>

              </div>
          </div>
      </div>

      <!---portafolio-->
      <!-- <div class="portafolio-parallax ">
          <div class="overlay-dark page-content" id="portafolio">
              <div class="container">
                  <div class="row">
                   <div class="col-md-4">
                   </div>
                      <div class="col-md-12">
                      <div class="heading-title text-center" style="margin:0;padding:0;padding-bottom:20px">
                          <h3 class="text-uppercase" style="font-weight:600;color:#fff"> ULTIMOS TRABAJOS </h3>
                          <div class="m-top-50 inline-block" style="margin-bottom:30px;">
                            <a href="<?php echo PUBLIC_PATH.'files/portafolio.pdf'?>"
                              target="_blank" class="btn btn-medium  btn-theme-color light-hover text-uppercase">
                              Descargar portafolio <i class="fa fa-download"></i>
                            </a>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <!--Fin portafolio-->

      <!--clients-->

       <div class="page-content" id="clientes" style="padding:40px;margin:0;background:#2E97DB;">
          <div class="container">
              <div class="row" style="margin:0;padding:0">
                  <div class="heading-title text-center" style="margin:0;padding:0">
                      <h3 class="text-uppercase" style="font-weight:600;color:#fff"> Clientes </h3>
                  </div>
              </div>
          </div>
      </div>
      <div class="page-content" style="margin-top:0;padding-top:20px;padding-bottom:20px">
          <div class="container">
            <!-- .carousel-slider -->
            <div class="carousel-slider clients-course-slider">
              <?php foreach ($clientes as $key => $value): ?>
                <div class="slick-slide"> <!-- 1 -->
                  <figure class="affa-client-course">
                    <img
                    width="140px"
                    height="70px"
                    src="<?php echo PUBLIC_PATH.'files/upload/clientes/'.$value->imagen ?>" alt="Logo">
                  </figure>
                </div>
              <?php endforeach; ?>
            </div>
            <!-- .carousel-slider end -->
          </div>
      </div>
      <!--clients-->

      <!---Testimonios-->
      <div class="testimonial-parallax ">
          <div class="overlay-dark page-content">
              <div class="container">
                  <div class="row">
                   <div class="col-md-4">
                   </div>
                      <div class="col-md-8">
                      <div class="heading-title text-center" style="margin:0;padding:0;padding-bottom:20px">
                          <h3 class="text-uppercase" style="font-weight:600;color:#fff"> Testimonios </h3>
                      </div>
                          <!--testimonial start-->
                          <div id="testimonial-3" class="text-center light-txt big-icon ">
                            <?php foreach ($testimonios as $key => $value): ?>
                              <div class="item">
                                  <div class="icon theme-color">
                                     <img width="97px" height="93px" src="<?php echo PUBLIC_PATH.'files/upload/testimonios/'.$value->imagen ?>" alt=""
                                     style="border-radius:50%;-moz-border-radius: 50%;-webkit-border-radius:50%;">
                                  </div>

                                  <div class="content">
                                    <?php echo $value->contenido ?>
                                      <div class="testimonial-meta">
                                          - <?php echo $value->firma ?> -
                                          <span style="color:#E7B629">Trabajo realizado : <?php echo $value->trabajo_realizado ?></span>
                                      </div>
                                  </div>
                              </div>
                            <?php endforeach; ?>
                          </div>
                          <!--testimonial end-->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--Fin testimonios-->

      <!--blog-->
      <div id="blog" class="page-content">
          <div class="container">
              <div class="row">
                  <div class="post-list">
                     <div class="heading-title text-center" style="margin-bottom:0;padding-bottom:30px">
                      <h3 class="text-uppercase" style="font-weight:600"> Blog<br><small>Ultimas noticias</small> </h3>
                    </div>
                      <?php foreach ($blogs as $key => $value): ?>
                        <div class="col-md-4">
                          <div class="post-single">
                              <div class="post-img">
                                  <a href="<?php echo PUBLIC_PATH.'index/blog/'.$value->id.'/' ?>">
                                      <img src="<?php echo PUBLIC_PATH.'files/upload/blogs/'.$value->imagen ?>" alt="" style="width:330px;height:188px;">
                                  </a>
                              </div>
                              <div class="post-desk">
                                  <h4 class="text-uppercase">
                                      <a href="<?php echo PUBLIC_PATH.'index/blog/'.$value->id.'/' ?>"><?php echo $value->titulo ?></a>
                                  </h4>
                                  <div class="date">
                                    <?php echo (new DateTime($value->created_at))->format('d-m-Y') ?>
                                  </div>
                                  <p>

                                  </p>
                                  <a href="<?php echo PUBLIC_PATH.'index/blog/'.$value->id.'/' ?>" class="p-read-more" style="color:#4F0076">Leer mas <i class="icon-arrows_slim_right"></i></a>
                              </div>
                          </div>
                      </div>
                      <?php endforeach; ?>
                  </div>
              </div>
          </div>
      </div>
      <!--fin blog-->

      <!--contact us-->
      <div id="contacto" style="background:#CC212C;width:100%;padding-bottom:60px">
          <div class="container">
              <div class="row">
                      <div class="heading-title text-center" style="padding-top:60px;padding-bottom:0;margin-bottom:40px">
                          <h3 class="text-uppercase" style="font-weight:600;color:#fff"> Contactanos </h3>
                      </div>
                  <div class="col-md-6">


                      <form id="formulario" class="contact-comments" action="" method="post">
                          <div class="row">

                              <div class="col-md-6 form-group">
                                  <!-- Name -->
                                  <input type="text" name="name" id="name" class=" form-control"
                                  placeholder="Nombre *" maxlength="100" required="">
                              </div>

                              <div class="col-md-6 form-group">
                                  <!-- Empresa -->
                                  <input type="text" name="empresa" id="empresa"
                                  class=" form-control" placeholder="Empresa *" maxlength="150" required="">
                              </div>

                              <div class="col-md-6 form-group">
                                  <!-- Email -->
                                  <input type="email" name="email" id="email"
                                  class=" form-control" placeholder="Email *" maxlength="100" required="">
                              </div>

                              <div class="col-md-6 form-group">
                                  <!-- servicio -->
                                      <select name="servicio" id="servicio" class="form-control">
                                          <option value="No indicada">Tipo de servicio *</option>
                                          <option value="Web">Web</option>
                                          <option value="Diseño Grafico">Diseño Grafico</option>
                                          <option value="Online Marketing ( SEO-Google Adwords)">Online Marketing ( SEO-Google Adwords)</option>
                                          <option value="Proyectos Inmobiliarios">Perspectivas 3D</option>
                                          <option value="Redes Sociales">Redes Sociales</option>
                                          <option value="Video">Video</option>
                                          <option value="Hosting y Dominio">Hosting y Dominio</option>
                                          <option value="Vallas y Letreros">Vallas y Letreros</option>
                                      </select>
                              </div>

                              <div class="form-group col-md-6">
                                  <!-- Phone -->
                                  <input type="text" name="phone" id="phone" class=" form-control" placeholder="Telefono *" maxlength="100" required>
                              </div>

                               <div class="form-group col-md-6">
                                  <!-- Phone 2-->
                                  <input type="text" name="celular" id="celular" class=" form-control" placeholder="Celular" maxlength="100">
                              </div>

                              <!-- Comment -->
                              <div class="form-group col-md-12">
                                  <textarea name="comments" id="comments" class="cmnt-text form-control" rows="6" placeholder="Comentario *" maxlength="2500"></textarea>
                              </div>

                              <!-- Send Button -->
                              <div class="form-group col-md-12">
                                  <div class="g-recaptcha" data-sitekey="6LfCGx4UAAAAAO1RO-dGFtk4YJw_BYW7vcimAXg0" style="margin-bottom:10px"></div>

                                  <button type="submit" class="btn btn-small btn-dark-solid col-md-12" style="background:#E7B629;color:#000">
                                      Enviar Mensaje
                                  </button>
                              </div>
                              <?php View::content() ?>
                          </div>
                      </form>
                  </div>
                  <div class="col-md-6">

                      <p style="color:#fff">Siguenos en nuestras redes sociales <br>
                          <a target="_blank" href="<?php echo $contacto->instagram ?>">
                              <i style="margin-right:10px;font-size:20px;color:#fff" class="fa fa-instagram"></i>
                          </a>
                          <a target="_blank" href="<?php echo $contacto->facebook ?>">
                              <i style="margin-right:10px;font-size:20px;color:#fff" class="fa fa-facebook"></i>
                          </a>
                          <a href="skype:<?php echo $contacto->skype ?>?chat">
                              <i style="margin-right:10px;font-size:20px;color:#fff" class="fa fa-skype"></i>
                          </a>
                      </p>
                     <p style="color:#fff;font-weight:none">
                         <b>¿TIENES DUDAS? </b><br>
                         Somos flexibles, nos gusta escuchar, analizar y ofrecer las mejores soluciones
                         para tu proyecto. Aprendemos, mejoramos y crecemos con nuestros clientes,
                         esto es lo que nos hace diferentes Estamos en Panama
                     </p>
                      <p style="color:#fff">
                        <i class="fa fa-whatsapp" style="font-size:18px;padding-right:10px"></i>
                        <a href="tel:<?php echo $contacto->whatsapp ?>" style="color:#fff;font-size:18px">
                          <?php echo $contacto->whatsapp ?>
                        </a>
                        <br>
                        <i class="fa fa-phone" style="font-size:18px;padding-right:13px"></i>
                        <a href="tel:<?php echo $contacto->telefono ?>" style="color:#fff;font-size:18px">
                          <?php echo $contacto->telefono ?>
                        </a>
                      </p>
                      <p style="color:#fff">
                        <i class="fa fa-envelope-o" style="font-size:18px;padding-right:10px"></i>
                        <a href="mailto:<?php echo $contacto->correo ?>" style="color:#fff;font-size:18px">
                          <?php echo $contacto->correo ?>
                        </a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!--servicios fin-->
