
		<!-- .bg-color -->
		<div class="affa-bg-color text-white padding-top40-sm padding-top50">

			<!-- #spotlight -->
			<div id="spotlight" class="padding-top40sm padding-top50 padding-bottom0-sm padding-bottom10">

				<!-- .container -->
				<div class="container">

					<!-- .row -->
					<div class="row">

						<div class="col-lg-6"> <!-- image -->
							<figure class="margin-bottom40">
								<img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/landing/1.png" alt="Image">
							</figure>
						</div>

						<div class="col-lg-6 col-xl-5 offset-xl-1"> <!-- text -->
							<div class="margin-bottom40">
								<div class="post-heading-left-course margin-bottom20-sm margin-bottom30-md">
									<h2><span>Desde cuando estamos en el mercado</span></h2>
											</div>
								<p style="text-align: justify">Somos una agencia digital boutique, con 14 años de experiencia
									en el mercado Panameño, que ha logrado trabajar con las marcas
									más importantes del país, nuestros mas de 300 casos de éxito
									nos avalan y hablan por nosotros. Al NO SER una Publicitaria,
									ofrecemos servicios digitales que ayudan a resaltar su empresa
									en un mercado pequeño, pero agresivo donde una pequeña diferencia
									puede tu punto de partida, nuestra principal herramienta es
									el Internet, sin omitir los servicios tradicionales de mercadeo.</p>
							</div>
						</div>

					</div>
					<!-- .row -->

				</div>
				<!-- .container end -->

			</div>
			<!-- #spotlight end -->

			<!-- #counter -->
			<div id="counter" class="padding-top40-sm padding-top50">

				<!-- .container -->
				<div class="container">

					<!-- .affa-block-course -->
					<div class="affa-block-course block-half-course">
						<div class="row">

							<div class="col-md-4"> <!-- 1 -->
								<div class="affa-counter-course">
									<h3><span>131400</span></h3>
									<h4>Horas de Trabajo</h4>
									<p></p>
								</div>
							</div>

							<div class="col-md-4"> <!-- 2 -->
								<div class="affa-counter-course">
									<h3><span>128481120</span></h3>
									<h4>Lineas de Codigo Escritas</h4>
									<p></p>
								</div>
							</div>

							<div class="col-md-4"> <!-- 3 -->
								<div class="affa-counter-course">
									<h3><span>1983</span></h3>
									<h4>Sonrisas en los Clientes</h4>
									<p></p>
								</div>
							</div>

						</div>
					</div>
					<!-- .affa-block-course end-->

				</div>
				<!-- .container end -->

			</div>
			<!-- #counter end -->

		</div>
		<!-- .bg-color end -->

		<!-- .bg-white -->
		<div class="affa-bg-white padding-top190-sm padding-top200 padding-bottom40-sm padding-bottom50">

			<!-- #services -->
			<div id="nosotros" class="padding-top40-sm padding-top50 padding-bottom0-sm padding-bottom10">

				<!-- .container -->
				<div class="container">

					<!-- .row -->
		      <div class="row">

						<!-- .col -->
						<div class="col-lg-7">
							<div class="padding-top30-lg padding-top50-xl">

								<div class="post-heading-left-course"> <!-- heading -->
									<h2>Porqué elegir MasPublicidad.net?</h2>
									<p>Donec aca euismod velit quisque vitae justo eroso vivamus tempor elementum nam laoreet ante at leo mattis tincidunt mi lacus sapien.</p>
								</div>

								<div class="affa-feature-icon-course"> <!-- 1 -->
									<span class="feature-icon-wrap">
										<i class="ion ion-android-desktop"></i>
									</span>
									<div class="feature-icon-txt">
										<h4>Diseño Web de Vanguardia, Unico y Profesional</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit in rhoncus felican sed elit consequat, non dictum leo varius. Integer mi lacus, aliquet sedino varius ac, posuere vel lectus sapien.</p>
									</div>
                				</div>

								<div class="affa-feature-icon-course"> <!-- 2 -->
									<span class="feature-icon-wrap">
										<i class="ion ion-android-phone-portrait"></i>
									</span>
									<div class="feature-icon-txt">
										<h4>Learn anywhere and anytime</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit in rhoncus felican sed elit consequat, non dictum leo varius. Integer mi lacus, aliquet sedino varius ac, posuere vel lectus sapien.</p>
									</div>
                				</div>

							</div>
		                </div>
						<!-- .col end -->


					</div>
					<!-- .row -->

				</div>
				<!-- .container end -->

			</div>
			<!-- #services end -->

		</div>
		<!-- .bg-white -->

		<!-- .bg-grey -->
		<div class="affa-bg-grey padding-top40-sm padding-top50 padding-bottom40-sm padding-bottom50">

			<!-- #courses -->
			<div id="servicios" class="padding-top40-sm padding-top50 padding-bottom10-sm padding-bottom20">

				<!-- .container -->
				<div class="container">

					<div class="post-heading-left-course"> <!-- heading -->
		                <h2><span>¿ QUE PODEMOS HACER POR TI?</span></h2>
						<p>Llevamos tu idea al siguiente nivel.</p>
					</div>

					<!-- .row -->
					<div class="row">

						<div class="col-md-4"> <!-- 1 -->
							<div class="affa-material-course">
								<figure><img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/courses/1.jpg" alt="Course"></figure>
								<div class="material-txt">
									<h5>Landing page</h5>
									<p style="text-align:justify;">
										Es la mejor opción para empezar un
										 proyecto web, posee las secciones
										 básicas (quienes somos, galería de imágenes, servicios, formulario de contacto) todo esto unido a un diseño innovador.</p>
									<div class="contact-btn-service">
										<a href="#contacto" class="btn-custom smooth-scroll">Contactenos</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4"> <!-- 2 -->
							<div class="affa-material-course">
								<figure><img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/courses/4.jpg" alt="Course"></figure>
								<div class="material-txt">
									<h5>Actualización y Rediseño Web</h5>
									<p style="text-align:justify;">
										Actualización, diseño y arquitectura.<br>
										Nuevas páginas de aterrizaje para captar clientes potenciales para su equipo de ventas.<br>
										Integrar nuevos clientes potenciales con su CRM.<br>
										</p>
										<div class="contact-btn-service">
											<a href="#contacto" class="btn-custom smooth-scroll">Contactenos</a>
										</div>
								</div>
							</div>
						</div>

						<div class="col-md-4"> <!-- 3 -->
							<div class="affa-material-course">
								<figure><img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/courses/4.jpg" alt="Course"></figure>
								<div class="material-txt">
									<h5>Diseño web a la Medida</h5>
									<p style="text-align:justify;">
										Llevamos a cabo el desarrollo y programación de aplicaciones
										web a medida, soluciónes requeridas para su negocio, tenemos un equipo de programadores que llevaran a cabo la
										aplicación para su empresa.<br></p>
										<div class="contact-btn-service">
											<a href="#contacto" class="btn-custom smooth-scroll">Contactenos</a>
										</div>
								</div>
							</div>
						</div>

						<div class="col-md-4"> <!-- 4 -->
							<div class="affa-material-course">
								<figure><img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/courses/4.jpg" alt="Course"></figure>
								<div class="material-txt">
									<h5>Ecommerce</h5>
									<p style="text-align:justify;">Desarrollamos sitios web para e-commerce, con la funcionalidad
										de un catálogo virtual para mostrar y vender online productos
										dirigidos a empresas B2B o al consumidor final B2C</p>
									<div class="contact-btn-service">
										<a href="#contacto" class="btn-custom smooth-scroll">Contactenos</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4"> <!-- 5 -->
							<div class="affa-material-course">
								<figure><img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/courses/5.jpg" alt="Course"></figure>
								<div class="material-txt">
									<h5>Mantenimiento Web y Soporte</h5>
									<p style="text-align:justify;">Una vez que la web está finalizada es importante mantenerla
										actualizada, sin errores y segura ante hackers. De nada
										sirve tener tu web desactualizada y con fallos de seguridad.</p>
									<div class="contact-btn-service">
										<a href="#contacto" class="btn-custom smooth-scroll">Contactenos</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4"> <!-- 6 -->
							<div class="affa-material-course">
								<figure><img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/courses/6.jpg" alt="Course"></figure>
								<div class="material-txt">
									<h5>Micrositio</h5>
									<p style="text-align:justify;">
										Creamos y desarrollamos micrositios para actividades o
										campañas que cumplan con las necesidades de tu empresa.
										Campañas de marketing, actividades de interacción con los usuarios</p>
									<div class="contact-btn-service">
										<a href="#contacto" class="btn-custom smooth-scroll">Contactenos</a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- .row -->

				</div>
				<!-- .container end -->

			</div>
			<!-- #courses end -->

		</div>
		<!-- .bg-grey end -->

		<!-- .bg-color -->
		<div class="affa-bg-color text-white padding-top40-sm padding-top50 padding-bottom40-sm padding-bottom50">

			<!-- #video -->
			<div id="video" class="padding-top40-sm padding-top50 padding-bottom0-sm padding-bottom10">

				<!-- .container -->
				<div class="container">

					<!-- .row -->
					<div class="row">

						<div class="col-lg-6"> <!-- video -->
							<figure class="margin-bottom40">
								<iframe width="1280" height="720" src="https://www.youtube.com/embed/VCo3zZ0P4vU" allowfullscreen></iframe>
							</figure>
						</div>

						<div class="col-lg-6 col-xl-5 offset-xl-1"> <!-- text -->
							<div class="padding-top20-xl margin-bottom40">
								<div class="post-heading-left-course margin-bottom20-sm margin-bottom30-md">
									<h2><span>Diseño Web</span></h2>
									<p></p>
								</div>
								<p>El objetivo es desarrollar un Website que alcance las metas de negocios y de los usuarios. Para esto, implementamos estrategias visuales, de contenidos, de funcionalidad y de interacción destinadas a obtener el sitio necesario para cada cliente, podemos llevar a cabo desde un pequeño Website de 5 páginas hasta un portal de contenidos o de e-commerce, el limite lo pone usted.</p>
								<p></p>
							</div>
						</div>

					</div>
					<!-- .row -->

				</div>
				<!-- .container end -->

			</div>
			<!-- #video end -->

		</div>
		<!-- .bg-color end -->

		<!-- .bg-white -->
		<div class="affa-bg-white padding-top40-sm padding-top50 padding-bottom40-sm padding-bottom50">

			<div class="container">
				<div class="sep-border"></div> <!-- separator -->
			</div>

			<!-- #clients -->
			<div id="portafolio" class="padding-top40-sm padding-top50 padding-bottom40-sm padding-bottom50">

				<!-- .container -->
				<div class="container">

					<p class="text-md-course margin-bottom40">Aquí les presentamos algunos de nuestros proyectos más recientes.</p>

					<!-- .carousel-slider -->
					<div class="carousel-slider clients-course-slider">

						<div class="slick-slide"> <!-- 1 -->
							<figure class="affa-client-course">
								<img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/clients/1.jpg" alt="Logo">
							</figure>
						</div>

						<div class="slick-slide"> <!-- 2 -->
							<figure class="affa-client-course">
								<img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/clients/2.jpg" alt="Logo">
							</figure>
						</div>

						<div class="slick-slide"> <!-- 3 -->
							<figure class="affa-client-course">
								<img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/clients/3.jpg" alt="Logo">
							</figure>
						</div>

						<div class="slick-slide"> <!-- 4 -->
							<figure class="affa-client-course">
								<img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/clients/4.jpg" alt="Logo">
							</figure>
						</div>

						<div class="slick-slide"> <!-- 5 -->
							<figure class="affa-client-course">
								<img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/clients/5.jpg" alt="Logo">
							</figure>
						</div>

						<div class="slick-slide"> <!-- 6 -->
							<figure class="affa-client-course">
								<img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/clients/6.jpg" alt="Logo">
							</figure>
						</div>

						<div class="slick-slide"> <!-- 7 -->
							<figure class="affa-client-course">
								<img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/clients/7.jpg" alt="Logo">
							</figure>
						</div>

						<div class="slick-slide"> <!-- 8 -->
							<figure class="affa-client-course">
								<img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/clients/8.jpg" alt="Logo">
							</figure>
						</div>

						<div class="slick-slide"> <!-- 9 -->
							<figure class="affa-client-course">
								<img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/clients/9.jpg" alt="Logo">
							</figure>
						</div>

						<div class="slick-slide"> <!-- 10 -->
							<figure class="affa-client-course">
								<img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/clients/10.jpg" alt="Logo">
							</figure>
						</div>

					</div>
					<!-- .carousel-slider end -->

				</div>
				<!-- .container end -->

			</div>
			<!-- #clients end -->

		</div>
		<!-- .bg-white end -->

		<!-- .bg-white -->
		<div class="affa-bg-white padding-top40-sm padding-top50 padding-bottom40-sm padding-bottom50">
		  <!-- #testimonials -->
		  <div id="testimonials" class="padding-top40-sm padding-top50 padding-bottom40-sm padding-bottom50">

		    <!-- .container -->
		    <div class="container">

		      <div class="post-heading-center-hotel"> <!-- heading -->
		        <h2>Testimonios</h2>
		        <p>Clientes satisfechos que aman a MasPublicidad.</p>
		      </div>

		      <!-- .carousel-slider -->
		      <div class="carousel-slider testimonials-hotel-slider">

		        <div class="slick-slide"> <!-- 1 -->
		          <div class="affa-testimonial-hotel">
		            <div class="testimonial-txt">
		              <p>Hemos trabajado desde hace unos años con Mas Publicidad, Cero quejas!.</p>
		            </div>
		            <div class="testimonial-rating">
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		            </div>
		            <div class="testimonial-name">
		              <img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/testimonials/suarez.png" alt="Avatar">
		              <h4>Juan Manuel Suarez – Gerente Comercial</h4>
		              <p>Pagina Web</p>
		            </div>
		          </div>
		        </div>

		        <div class="slick-slide"> <!-- 2 -->
		          <div class="affa-testimonial-hotel">
		            <div class="testimonial-txt">
		              <p>Fueron muy pacientes con los cambios, nos asesoraron en todo
		                momento, el resultado fue muy gratificante , recomendado 100%.</p>
		            </div>
		            <div class="testimonial-rating">
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		            </div>
		            <div class="testimonial-name">
		              <img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/testimonials/dream.png" alt="Avatar">
		              <h4>Ingryd – Marketing Manager</h4>
		              <p>Pagina Web</p>
		            </div>
		          </div>
		        </div>

		        <div class="slick-slide"> <!-- 3 -->
		          <div class="affa-testimonial-hotel">
		            <div class="testimonial-txt">
		              <p>Simplemente fabuloso, desde que  iniciamos nuestra relación
		                comercial con Mas  Publicidad hace 6 años siempre han cuidado de brindar el mejor servicio, muy satisfechos.</p>
		            </div>
		            <div class="testimonial-rating">
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		            </div>
		            <div class="testimonial-name">
		              <img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/testimonials/rosas.png" alt="Avatar">
		              <h4>Lic. Ana Gloria Roman – Gerente de Medios – Diseño Web</h4>
		              <p>Pagina Web</p>
		            </div>
		          </div>
		        </div>

		        <div class="slick-slide"> <!-- 3 -->
		          <div class="affa-testimonial-hotel">
		            <div class="testimonial-txt">
		              <p>Trabajamos muchos servicios con Mas Publicidad, todos siempre
		                con resultados positivos, un servicio de primera y siempre
		                dispuestos ayudar, inclusive fuera de horario , gracias.</p>
		            </div>
		            <div class="testimonial-rating">
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		            </div>
		            <div class="testimonial-name">
		              <img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/testimonials/coinla.png" alt="Avatar">
		              <h4>Arq. Karithsy Pereira – Gerente de Marca</h4>
		              <p>Pagina Web</p>
		            </div>
		          </div>
		        </div>

		        <div class="slick-slide"> <!-- 3 -->
		          <div class="affa-testimonial-hotel">
		            <div class="testimonial-txt">
		              <p>Resideñamos nuestro web con Mas Publicidad, asi como otros
		                servicios de rotulación , todo salio mejor de lo que pensamos,
		                los recomiendo abiertamente.</p>
		            </div>
		            <div class="testimonial-rating">
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		            </div>
		            <div class="testimonial-name">
		              <img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/testimonials/kassa.png" alt="Avatar">
		              <h4>Carlos Marquez – Gerente General</h4>
		              <p>Pagina Web</p>
		            </div>
		          </div>
		        </div>

		        <div class="slick-slide"> <!-- 3 -->
		          <div class="affa-testimonial-hotel">
		            <div class="testimonial-txt">
		              <p>Comprendieron nuestra falta de conocimiento en el tema,
		                fueron muy pacientes, el resultado fue el esperado, aun
		                seguimos cotizando servicios adicionales con ellos.</p>
		            </div>
		            <div class="testimonial-rating">
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		            </div>
		            <div class="testimonial-name">
		              <img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/testimonials/adelle.png" alt="Avatar">
		              <h4>Sra. Rosaura – Gerente de Ventas</h4>
		              <p>Pagina Web</p>
		            </div>
		          </div>
		        </div>

		        <div class="slick-slide"> <!-- 3 -->
		          <div class="affa-testimonial-hotel">
		            <div class="testimonial-txt">
		              <p>Necesitaba un sitio web para mi marca, Mas Publicidad me
		                ayudo y comprendio sin mucho esfuerzo, estoy super
		                contenta con mi web.</p>
		            </div>
		            <div class="testimonial-rating">
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		              <i class="ion ion-android-star"></i>
		            </div>
		            <div class="testimonial-name">
		              <img src="<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/testimonials/mela.png" alt="Avatar">
		              <h4>Melissa Piedrahita – CEO</h4>
		              <p>Pagina Web</p>
		            </div>
		          </div>
		        </div>

		      </div>
		      <!-- .carousel-slider end -->

		    </div>
		    <!-- .container end -->

		  </div>
		  <!-- #testimonials end -->
		</div>
		<!-- .bg-white end -->

		<!-- #availability -->
		<div id="availability" class="affa-bg-dark text-white padding-top60 padding-bottom60">

			<!-- .container -->
			<div class="container">

				<h3 class="text-center margin-bottom40">Agenda una cita</h3>

				<!-- form -->
				<form class="affa-form-check-hotel">

					<div class="input-lg">
						<label for="input-check-in">Nombre</label>
						<input type="text" name="check_in" id="input-check-in">
					</div>

					<div class="input-lg">
						<label for="input-check-in">Fecha</label>
						<input type="date" name="check_in" id="input-check-in">
					</div>

					<div class="input-sm">
						<label for="input-night">Hora</label>
						<select name="night" id="input-night">
							<option value="9 am">9 am</option>
							<option value="10 am">10 am</option>
							<option value="11 am">11 am</option>
							<option value="12 pm">12 pm</option>
							<option value="1 pm">1 pm</option>
							<option value="2 pm">2 pm</option>
							<option value="3 pm">3 pm</option>
							<option value="4 pm">4 pm</option>
							<option value="5 pm">5 mp</option>
						</select>
					</div>

					<div class="input-submit">
						<input type="submit" name="submit" value="Enviar">
					</div>

				</form>
				<!-- form end -->

			</div>
			<!-- .container end -->

		</div>
		<!-- #availability end -->
