<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--favicon icon-->
    <link rel="icon" type="image/png" href="<?php echo PUBLIC_PATH ?>favicon.png">

    <title>masPublicidad</title>

    <!--common style-->
    <link href='http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200' rel='stylesheet' type='text/css'>

    <!-- inject:css -->
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/vendor/animate/animate.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/vendor/elasic-slider/elastic.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/vendor/iconmoon/linea-icon.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/vendor/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/css/shortcodes.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/css/style.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/css/default-theme.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>css/style-carrusel.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>css/slick.css">
    <!-- endinject -->

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css"
      href="<?php echo PUBLIC_PATH ?>assets/vendor/slider-revolution/css/extralayers.css"
      media="screen">
    <link rel="stylesheet" type="text/css"
      href="<?php echo PUBLIC_PATH ?>assets/vendor/slider-revolution/css/settings.css"
      media="screen">
      <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/vendor/backward/html5shiv.js"></script>
    <script src="assets/vendor/backward/respond.min.js"></script>
    <![endif]-->
    <?= Html::includeCss() ?>

    <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>
</head>
<body>
  <!--  preloader start -->
  <div id="tb-preloader">
      <div class="tb-preloader-wave"></div>
  </div>
  <!-- preloader end -->
  <div class="wrapper">
    <?php View::partial('index/header', NULL, array('contacto'=>$contacto)) ?>
    <?php View::content() ?>
    <?php View::partial('index/footer', NULL, array(
      'links_footer1'=>$links_footer1,
      'links_footer2'=>$links_footer2,
      'links_footer3'=>$links_footer3,
      'blogs'=>$blogs,
      'contacto'=>$contacto,
    )) ?>
  </div>

  <!-- inject:js -->
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/modernizr/modernizr.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/jquery/jquery-1.10.2.min.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/breakpoint/breakpoint.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/easing/jquery.easing.1.3.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/easy-pie-chart/jquery.easypiechart.min.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/elasic-slider/jquery.eislideshow.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/flex-slider/jquery.flexslider-min.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/images-loaded/imagesloaded.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/isotope/jquery.isotope.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/mailchimp/jquery.ajaxchimp.min.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/menuzord/menuzord.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/nav/jquery.nav.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/owl-carousel/owl.carousel.min.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/smooth/smooth.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/touchspin/touchspin.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/typist/typist.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/sticky/jquery.sticky.min.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/visible/visible.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/wow/wow.min.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/js/scripts.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>javascript/AnalyticsCarousel.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>javascript/slick.min.js"></script>
  <!-- endinject -->

    <!-- SLIDER REVOLUTION 4.x SCRIPTS
  -->
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="<?php echo PUBLIC_PATH ?>assets/vendor/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>

  <!-- SLIDER REVOLUTION INIT  -->
  <script type="text/javascript">
      jQuery(document).ready(function() {
          jQuery('.tp-banner').show().revolution(
          {
              dottedOverlay:"none",
              delay:12000,
              // startwidth:1170,
              startheight:650,
              hideThumbs:200,

              thumbWidth:100,
              thumbHeight:50,
              thumbAmount:5,

              navigationType:"bullet",
              navigationArrows:"solo",
              navigationStyle:"preview4",

              touchenabled:"on",
              onHoverStop:"on",

              swipe_velocity: 0.7,
              swipe_min_touches: 1,
              swipe_max_touches: 1,
              drag_block_vertical: false,

              parallax:"mouse",
              parallaxBgFreeze:"on",
              parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

              keyboardNavigation:"off",

              navigationHAlign:"center",
              navigationVAlign:"bottom",
              navigationHOffset:0,
              navigationVOffset:20,

              soloArrowLeftHalign:"left",
              soloArrowLeftValign:"center",
              soloArrowLeftHOffset:20,
              soloArrowLeftVOffset:0,

              soloArrowRightHalign:"right",
              soloArrowRightValign:"center",
              soloArrowRightHOffset:20,
              soloArrowRightVOffset:0,

              shadow:0,
              fullWidth:"on",
              // autoHeight:"on",
              fullScreen:"off",

              spinner:"spinner4",

              stopLoop:"off",
              stopAfterLoops:-1,
              stopAtSlide:-1,

              shuffle:"off",

              autoHeight:"off",
              forceFullWidth:"off",

              hideThumbsOnMobile:"off",
              hideNavDelayOnMobile:1500,
              hideBulletsOnMobile:"off",
              hideArrowsOnMobile:"off",
              hideThumbsUnderResolution:0,

              hideSliderAtLimit:0,
              hideCaptionAtLimit:0,
              hideAllCaptionAtLilmit:0,
              startWithSlide:0,
              videoJsPath:"slider-revolution/videojs/",
              fullScreenOffsetContainer: ""
          });

          $('.carousel-slider.clients-course-slider').slick({
      				arrows: false,
      				speed: 300,
      				autoplay: true,
      				autoplaySpeed: 3000,
      				slidesToShow: 6,
      				responsive: [
      					{
      						breakpoint: 768,
      						settings: {
      							slidesToShow: 3
      						}
      					},
      					{
      						breakpoint: 401,
      						settings: {
      							slidesToShow: 2
      						}
      					}
      				]
      			});
        }); //ready
  </script>


<!-- Google Code para etiquetas de remarketing -->
<!--------------------------------------------------
Es posible que las etiquetas de remarketing todavía no estén asociadas a la información personal identificable o que estén en páginas relacionadas con las categorías delicadas. Para obtener más información e instrucciones sobre cómo configurar la etiqueta, consulte http://google.com/ads/remarketingsetup.
--------------------------------------------------->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 861635654;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img
        height="1"
        width="1" style="border-style:none;" alt=""
        src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/861635654/?guid=ON&amp;script=0"/>
    </div>
</noscript>
</body>
