<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/ico" href="<?php echo PUBLIC_PATH ?>favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <?php Tag::css('../bootstrap/css/bootstrap.min');?>
    <?php Tag::css('../plugins/datatables/dataTables.bootstrap');?>
    <!-- Font Awesome -->

    <?php Tag::css('kumbia');?>
    <?php Tag::css('font-awesome.min');?>
    <!-- Ionicons
      <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    -->
    <!-- Theme style -->
    <?php Tag::css('AdminLTE.min');?>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
         <?php Tag::css('skins/_all-skins');?>
    <!-- iCheck -->
    <?php Tag::css('../plugins/iCheck/flat/blue');?>
    <!-- Morris chart -->
    <?php Tag::css('../plugins/morris/morris');?>
    <!-- jvectormap -->
    <?php Tag::css('../plugins/jvectormap/jquery-jvectormap-1.2.2');?>
    <!-- Date Picker -->
    <?php Tag::css('../plugins/datepicker/datepicker3');?>
    <!-- Daterange picker -->
    <?php Tag::css('../plugins/daterangepicker/daterangepicker-bs3');?>
    <!-- bootstrap wysihtml5 - text editor -->
    <?php Tag::css('../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min');?>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <?= Html::includeCss() ?>
  </head>
  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
      <div class="content-wrapper" style="margin-left: 0px;">
        <!-- Main content -->
        <section class="content" style="width:55%">
          <?php View::content(); ?>
        </section>
      </div>
    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <?php echo Tag::js('../plugins/jQuery/jQuery-2.1.4.min');?>
    <?php echo Tag::js('jquery/jquery.kumbiaphp');?>
    <!-- jQuery UI 1.11.4 -->
    <?php echo Tag::js('../plugins/jQueryUI/jquery-ui.min');?>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
    <?php echo Tag::js('../bootstrap/js/bootstrap.min');?>
    <!-- Morris.js charts -->
    <?php echo Tag::js('../plugins/morris/morris.min');?>
    <!-- Sparkline -->
    <?php echo Tag::js('../plugins/sparkline/jquery.sparkline.min');?>
    <!-- jvectormap -->
    <?php echo Tag::js('../plugins/jvectormap/jquery-jvectormap-1.2.2.min');?>
    <?php echo Tag::js('../plugins/jvectormap/jquery-jvectormap-world-mill-en');?>
    <!-- jQuery Knob Chart -->
    <?php echo Tag::js('../plugins/knob/jquery.knob');?>
    <!-- daterangepicker -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    -->
    <?php echo Tag::js('../plugins/daterangepicker/daterangepicker');?>
    <!-- datepicker -->
    <?php echo Tag::js('../plugins/datepicker/bootstrap-datepicker');?>
    <!-- Bootstrap WYSIHTML5 -->
    <?php echo Tag::js('../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min');?>
    <!-- Slimscroll -->
    <?php echo Tag::js('../plugins/slimScroll/jquery.slimscroll.min');?>
    <?php echo Tag::js('../plugins/datatables/jquery.dataTables.min');?>
    <?php echo Tag::js('../plugins/datatables/dataTables.bootstrap.min');?>
    <!-- FastClick -->
    <?php echo Tag::js('../plugins/fastclick/fastclick.min');?>
  </body>
</html>
