<!DOCTYPE html>
<!--[if lt IE 10]><html class="ie" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>

    <!-- Your Basic Site Informations -->
	<title>Diseño Web / Programacion / CRM</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Affapress">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/bootstrap.min.css">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/ionicons.min.css">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/animate.min.css">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/slick.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/slick-theme.css">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/jquery.scrollbar.css">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/older-browser.css">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/spacer.css">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/general.css">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/style.css">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'hotel-static/' ?>css/style.css">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/new-style.css">

    <!-- Custom Colors -->
	<!--<link rel="stylesheet" href="css/colors/green.css">-->
	<!--<link rel="stylesheet" href="css/colors/orange.css">-->
	<!--<link rel="stylesheet" href="css/colors/purple.css">-->
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/colors/red.css">
    <!--<link rel="stylesheet" href="css/colors/yellow.css">-->

    <noscript><link rel="stylesheet" href="<?php echo PUBLIC_PATH.'landing-static/' ?>css/no-js.css"></noscript>

    <!-- Favicons -->
	<link rel="shortcut icon" href="<?php echo PUBLIC_PATH ?>/favicon.png">
	<link rel="apple-touch-icon" href="<?php echo PUBLIC_PATH.'landing-static/' ?>images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="<?php echo PUBLIC_PATH.'landing-static/' ?>images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="<?php echo PUBLIC_PATH.'landing-static/' ?>images/apple-touch-icon-114x114.png">

</head>
<body>

	<!-- #body-wrap -->
	<div id="body-wrap">

		<?php View::partial('webdevelop/header', NULL, array()) ?>
		<?php View::partial('webdevelop/nav', NULL, array()) ?>

		<?php View::content() ?>

		<?php View::partial('webdevelop/footer', NULL, array()) ?>

	</div>
	<!-- #body-wrap end -->

	<a href="#" class="scrollup scroll-right" title="Back to Top!"><i class="ion ion-ios-arrow-up"></i></a> <!-- back to top -->

	<!-- older-browser -->
	<div class="browser-notice browser-ie">
    	<div class="text">
            <h1>Internet Explorer Out To Date</h1>
            <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 10 above) now!</p>
            <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">here....</a></span>
        </div>
    </div>

	<div class="browser-notice browser-safari">
    	<div class="text">
			<h1>Safari Out To Date</h1>
			<p>Please update your Safari browser with a newer version (Safari 6 above) now!</p>
			<span>You can download it <a href="https://support.apple.com/downloads/safari" target="_blank">here....</a></span>
        </div>
    </div>
	<!-- older-browser end -->

	<!-- JavaScripts -->
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/jquery.scroll-with-ease.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/jquery.waypoints.min.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/jquery.imgpreload.min.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/jquery.scrollbar.min.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/jquery.fancybox.min.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/response.min.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/parallax.min.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/slick.min.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/general.js"></script>
	<script type="text/javascript" src="<?php echo PUBLIC_PATH.'landing-static/' ?>js/script.js"></script>
	<script type="text/javascript">
	$('.carousel-slider.testimonials-hotel-slider').slick({
		arrows: false,
		dots: true,
		speed: 300,
		autoplay: true,
		autoplaySpeed: 3000,
		draggable: false,
		responsive: [{
			breakpoint: 768,
			settings: {
				draggable: true
			}
		}]
	});
	</script>
</body>
</html>
