<header class="main-header">
  <!-- Logo -->
  <a href="<?php echo PUBLIC_PATH ?>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>Admin</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <?php echo Html::img('logo.png','masPublicidad', 'height=40px')?>
      <b>MasPublicidad</b>
    </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <?php echo Html::img('jean.png', 'User Image', 'class=user-image'); ?>
            <span class="hidden-xs"><?php echo Auth::get('first_name'); ?> <?php echo Auth::get('last_name'); ?></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <?php echo Html::img('jean.png', 'User Image', 'class=img-circle'); ?>
              <p>
                <?php echo Auth::get('first_name'); ?> <?php echo Auth::get('last_name'); ?>
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Perfil</a>
              </div>
              <div class="pull-right">
                <?php echo Html::link('admin/logout', 'Salir',
                array('class'=>'btn btn-default btn-flat')) ?>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
