<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/">
          <i class="fa fa-fw fa-home"></i> <span>Inicio</span>
        </a>
      </li>
      <li class="">
        <a  href="<?php echo PUBLIC_PATH ?>admin/sliders/">
          <i class="fa fa-th"></i> <span>Sliders</span>
        </a>
      </li>
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/quienes_somos/">
          <i class="fa fa-fw fa-group"></i> <span>Quienes somos</span>
        </a>
      </li>
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/quieres_web/">
          <i class="fa fa-fw fa-magic"></i> <span>Quieres una web</span>
        </a>
      </li>
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/necesitas_app/">
          <i class="fa fa-fw fa-apple"></i> <span>Necesitas una app</span>
        </a>
      </li>
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/servicios/">
          <i class="fa fa-fw fa-life-bouy"></i> <span>Servicios</span>
        </a>
      </li>
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/necesitas/">
          <i class="fa fa-fw fa-puzzle-piece"></i> <span>Necesitas</span>
        </a>
      </li>
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/portafolio/">
          <i class="fa fa-fw fa-suitcase"></i> <span>Portafolio</span>
        </a>
      </li>
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/clientes/">
          <i class="fa fa-fw fa-user"></i> <span>Clientes</span>
        </a>
      </li>
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/testimonios/">
          <i class="fa fa-fw fa-newspaper-o"></i> <span>Testimonios</span>
        </a>
      </li>
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/blogs/">
          <i class="fa fa-fw fa-book"></i> <span>Blogs</span>
        </a>
      </li>
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/contacto/">
          <i class="fa fa-fw fa-calendar-o"></i> <span>Contacto</span>
        </a>
      </li>
      <li class="">
        <a href="<?php echo PUBLIC_PATH ?>admin/links_footer/">
          <i class="glyphicon glyphicon-object-align-bottom"></i> <span>Links footer</span>
        </a>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
