<!--footer start 1-->
<footer id="footer" class="dark">
    <div class="primary-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="text-uppercase">Quieres un web</h5>
                    <ul class="f-list">
                        <?php foreach ($links_footer1 as $key => $value): ?>
                          <li><a href="<?php echo PUBLIC_PATH.$value->link ?>"><?php echo $value->texto ?></a>
                          </li>
                        <?php endforeach; ?>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h5 class="text-uppercase">Servicios</h5>
                    <ul class="f-list">
                      <?php foreach ($links_footer2 as $key => $value): ?>
                        <li><a href="<?php echo PUBLIC_PATH.$value->link ?>"><?php echo $value->texto ?></a>
                        </li>
                      <?php endforeach; ?>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="text-uppercase">Otros</h5>
                    <ul class="f-list">
                      <?php foreach ($links_footer3 as $key => $value): ?>
                        <li><a href="<?php echo PUBLIC_PATH.$value->link ?>"><?php echo $value->texto ?></a>
                        </li>
                      <?php endforeach; ?>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="text-uppercase">Redes sociales </h5>
                    <ul class="r-work">
                      <a target="_blank" href="<?php echo $contacto->instagram ?>">
                          <i style="margin-right:10px;font-size:20px;color:#fff" class="fa fa-instagram"></i>
                      </a>
                      <a target="_blank" href="<?php echo $contacto->facebook ?>">
                          <i style="margin-right:10px;font-size:20px;color:#fff" class="fa fa-facebook"></i>
                      </a>
                      <a href="skype:<?php echo $contacto->skype ?>?chat">
                          <i style="margin-right:10px;font-size:20px;color:#fff" class="fa fa-skype"></i>
                      </a>
                      <!-- <?php foreach ($blogs as $key => $value): ?>
                        <li>
                          <a href="<?php echo PUBLIC_PATH.'index/blog/'.$value->id.'/' ?>">
                            <img style="width:55px;height:31px" src="<?php echo PUBLIC_PATH.'files/upload/blogs/'.$value->imagen ?>" alt="" />
                          </a>
                        </li>
                      <?php endforeach; ?> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="secondary-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <span class="m-top-10" style="text-align:center;color:#fff">
                      © MASPUBLICIDAD 2018. TODOS LOS DERECHOS RESERVADOS</span>
                </div>

            </div>
        </div>
    </div>
</footer>
<!--footer 1 end-->
