<!--top bar-->
<div class="top-bar gray-bg- visible-md visible-lg" style="background:#000">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="top-link" style="float:left">
                    <li><i class="fa fa-map-marker"></i><?php echo $contacto->ubicacion ?></li>
                </ul>

            </div>

            <div class="col-md-3">
                <ul class="top-link" style="float:left">
                  <li><i class="fa fa-clock-o"></i><?php echo $contacto->horario ?></li>
                </ul>

            </div>
            <div class="col-md-3">
                  <ul class="top-link" style="float:left">
                    <li>
                      <i class="fa fa-whatsapp"></i>
                      <a href="tel:625 15479" style="color:#aaa;font-size:16px"><?php echo $contacto->whatsapp ?></a> /
                      <a href="tel:395 4758" style="color:#aaa;font-size:16px"><?php echo $contacto->telefono ?></a>
                    </li>
                </ul>
            </div>

             <div class="col-md-3">
                  <ul class="top-link">


                    <li style="float:left"><i class="fa fa-envelope-o"></i> <a href="#contacto" style="color:#aaa">Escríbanos</a></li>
                    <li>
                        <a target="_blank" href="<?php echo $contacto->instagram ?>">
                            <i style="margin-left:5px;color:#aaa" class="fa fa-instagram"></i>
                        </a>
                        <a target="_blank" href="<?php echo $contacto->facebook ?>">
                            <i style="margin-left:5px;color:#aaa" class="fa fa-facebook"></i>
                        </a>
                        <a href="skype:<?php echo $contacto->skype ?>?chat">
                            <i style="margin-left:5px;color:#aaa" class="fa fa-skype"></i>
                        </a>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--top bar-->

<!--header start-->
<header class="l-header">

    <div class="l-navbar l-navbar_compact l-navbar_t-light js-navbar-sticky">
        <div class="container">
            <nav class="menuzord js-primary-navigation" role="navigation" aria-label="Primary Navigation">

                <!--logo start-->
                <a href="index.php" class="logo-brand">
                    <img class="retina" src="<?php echo PUBLIC_PATH.'img/logo.png'?>" alt="maspublicidad">
                </a>
                <!--logo end-->

                <!--mega menu start-->
                <ul class="menuzord-menu menuzord-right c-nav_s-standard"> <!--quite op-nav porque sino no funciona el submenu-->
                    <li class="active"><a href="<?php echo PUBLIC_PATH ?>">Home</a></li>
                    <li><a href="<?php echo PUBLIC_PATH ?>#nosotros">Que somos</a></li>
                    <li><a href="<?php echo PUBLIC_PATH ?>#web">Quieres una web</a></li>

                    <li class=""><a href="javascript:void(0)">Servicios</a>
                        <div class="megamenu">
                            <div class="megamenu-row">
                                <div class="col3">
                                    <ul class="list-unstyled">
                                        <li><b style="padding:10px;color:#CC212C">Web</b></li>
                                        <li><a href="#servicios">Langing Page</a></li>
                                        <li><a href="#servicios">Ecommerce</a></li>
                                        <li><a href="#servicios">Micrositio</a></li>
                                        <li><a href="#servicios">Diseño web a medida</a></li>

                                        <li><b style="padding:10px;color:#CC212C">Diseño</b></li>
                                        <li><a href="#servicios">Artes Publicitarios</a></li>
                                        <li><a href="#servicios">Identidad Corporativa</a></li>
                                        <li><a href="#servicios">Logotipos</a></li>
                                        <li><a href="#servicios">Banners Web</a></li>
                                        <li><a href="#servicios">Tarjeta de Presentacion</a></li>



                                    </ul>
                                </div>
                                <div class="col3">
                                    <ul class="list-unstyled">
                                        <li><b style="padding:10px;color:#CC212C">Publicidad </b></li>
                                        <li><a href="#servicios">Emailing</a></li>
                                        <li><a href="#servicios">Posicionamiento SEO</a></li>
                                        <li><a href="#servicios">Mercadeo en Linea</a></li>
                                        <li><a href="#servicios">Redes Sociales</a></li>
                                        <li><a href="#servicios">Campañas en Adwords</a></li>
                                        <li><a href="#servicios">Campañas en You Tube</a></li>

                                    </ul>
                                </div>
                                <div class="col3">
                                    <ul class="list-unstyled">
                                         <li><b style="padding:10px;color:#CC212C">Multimedia</b></li>
                                        <li><a href="#servicios">Animacion 3D</a></li>
                                        <li><a href="#servicios">Perspectivas 3D</a></li>
                                        <li><a href="#servicios">Planos 3D</a></li>
                                        <li><a href="#servicios">Videos 3D</a></li>
                                        <li><a href="#servicios">Videos corporativos</a></li>
                                        <li><a href="#servicios">Videos explicativos </a></li>
                                        <li><a href="#servicios">Whiteboard</a></li>
                                        <li><a href="#servicios">Clips Publicitarios</a></li>
                                        <li><a href="#servicios">Desarrollo</a></li>
                                    </ul>
                                </div>
                                <div class="col3">
                                    <ul class="list-unstyled">
                                      <li><b style="padding:10px;color:#CC212C">Otros</b></li>
                                        <li><a href="#servicios">Rotulacion</a></li>
                                        <li><a href="#servicios">Acrilicos</a></li>
                                        <li><a href="#servicios">Vallas de Carretera</a></li>
                                        <li><a href="#servicios">Letreros</a></li>
                                        <li><a href="#servicios">Estructuras</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li><a href="<?php echo PUBLIC_PATH ?>#portafolio">Portafolio</a></li>
                    <li><a href="<?php echo PUBLIC_PATH ?>#clientes">Clientes</a></li>
                    <li><a href="<?php echo PUBLIC_PATH ?>#blog">Blog</a></li>
                    <li><a href="<?php echo PUBLIC_PATH ?>#contacto">Contactenos</a></li>

                </ul>
                <!--mega menu end-->

            </nav>
        </div>
    </div>

</header>
<!--header end-->
