<!-- #footer -->
<footer id="footer" class="footer-course footer-landing">

  <!-- .footer-nav -->
  <div class="footer-nav affa-bg-color text-white">

    <!-- .container -->
    <div class="container">

      <div class="footer-logo">
        <img src="<?php echo PUBLIC_PATH ?>img/logo-blanco.png" alt="Logo"> <!-- logo -->
      </div>

      <div class="footer-copyright">
        <p>&copy; Todos los derechos reservados 2018 - <a href="https://Maspublicidad.net" target="_blank">Maspublicidad.net</a></p> <!-- copyright text -->
      </div>

      <ul class="footer-socials"> <!-- socials -->
        <li><a href="https://www.facebook.com/jeancarlos.mazalara" title="Facebook"><i class="ion ion-social-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/maspublicidadpty/" title="Instagram"><i class="ion ion-social-instagram"></i></a></li>
        <li><a href="skype:jean.carlos.maza?chat" title="Skype"><i class="ion ion-social-skype"></i></a></li>
        <!-- <li><a href="#" title="LinkedIn"><i class="ion ion-social-linkedin"></i></a></li>
        <li><a href="#" title="Dribbble"><i class="ion ion-social-dribbble"></i></a></li> -->
      </ul>

    </div>
    <!-- .container end -->

  </div>
  <!-- .footer-nav end -->


</footer>
<!-- #footer end -->
