<div class="navbar-top-hotel">

			<!-- .container -->
			<div class="container">

				<div class="nav-left">
					<p>Panamá , Ciudad de Panamá</p>
				</div>

				<div class="nav-right">
					<ul class="nav-socials">
						<li><a href="https://www.facebook.com/jeancarlos.mazalara" target="_blank" title="Facebook"><i class="ion ion-social-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/maspublicidadpty/" target="_blank" title="Instagram"><i class="ion ion-social-instagram"></i></a></li>
						<li><a href="skype:jean.carlos.maza?chat" target="_blank" title="Skype"><i class="ion ion-social-skype"></i></a></li>
					</ul>
					<div class="nav-btn">
						<a href="#"><i class="ion ion-ios-telephone"></i>395-4758 / 6251 5479</a>
					</div>
				</div>

			</div>
			<!-- .container end -->

		</div>
<!-- #header -->
<header id="header"
  class="header-course affa-bg-img"
  data-parallax="scroll" data-speed="0.2" data-natural-width="1920"
  data-natural-height="1080" data-image-src="<?php echo PUBLIC_PATH ?>img/servicio_online.jpg">

  <div class="col-md-8 col-lg-5" style="margin-top:10px;float:right;">
    <div id="contacto" class="affa-signup-course"> <!-- signup -->
      <form method="post" action="#" class="affa-form-signup form-course" style="background-color: rgba(240, 56, 66, 0.85);padding: 0px;padding-left: 40px;padding-right: 40px;">
        <div class="submit-status"></div>
        <h2 class="form-heading" style="margin-bottom:9px;text-align:center;padding-top:9px;">Contactanos</h2>
        <div class="form-fields">
          <input type="text" name="name" placeholder="Tu nombre" style="margin-bottom: 20px;">
          <input type="text" name="email" placeholder="Correo" style="margin-bottom: 20px;">
          <textarea style="width:100%;" name="motive" placeholder="Motivo" style="margin-bottom: 20px;"></textarea>
        </div>
        <br>
        <div class="form-submit" style="margin-top:-17px;padding-bottom:20px;">
          <input type="submit" name="submit" value="Enviar">
        </div>
       </form>
    </div>
  </div>

  <!-- .header-content -->
  <div id="contacto" class="header-content affa-bg-color text-white padding-top40-sm padding-top60 padding-bottom40-sm padding-bottom60">

    <!-- .container -->
    <div class="container">

      <h1 class="animation" data-animation="animation-fade-in-down"
          data-delay="300" data-nooffset="true">Diseño Web / Programacion / CRM</h1>
      <p class="animation" data-animation="animation-fade-in" data-delay="1000"
          data-nooffset="true">¿ Sabias que? Actualmente una pagina web es la diferencia entre conseguir un cliente o perderlo para siempre?</p>

    </div>
    <!-- .container end -->

  </div>
  <!-- .header-content end -->

  <figure class="bg-img-base" style="background-image:url(<?php echo PUBLIC_PATH.'landing-static/' ?>images/content/bg/1.jpg);"></figure> <!-- background -->

</header>
<!-- #header end -->
