<!-- #navigation -->
<nav id="navigation" class="navbar-wrap">
  <div class="navbar navbar-course navbar-landing navbar-affix scrollspy">

    <!-- .container -->
    <div class="container">

      <div class="navbar-brand">
        <a href="index.html"><img src="<?php echo PUBLIC_PATH ?>img/logo-blanco.png" alt="Logo"></a> <!-- logo -->
      </div>

      <ul class="nav"> <!-- menu -->
        <li><a href="#header" class="nav-link smooth-scroll active">Incio</a></li>
        <li><a href="#nosotros" class="nav-link smooth-scroll">Nosotros</a></li>
        <li><a href="#servicios" class="nav-link smooth-scroll">Servicios</a></li>
        <li><a href="#portafolio" class="nav-link smooth-scroll">Clientes</a></li>
        <li><a href="#portafolio" class="nav-link smooth-scroll">Promo</a></li>
        <li><a href="blog.html" class="nav-link">Blog</a></li>
        <li class="nav-menu-btn">
          <a href="#contacto" class="nav-link smooth-scroll">Contactenos</a>
        </li>
      </ul>

      <div class="nav-btn-mobile"> <!-- button -->
        <a href="#" class="navbar-btn-toggle"><i class="ion ion-android-menu"></i></a>
      </div>

    </div>
    <!-- .container end -->

  </div>
</nav>
<!-- #navigation end -->
